@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  height: 4px; /* Thin horizontal scrollbar */
}

/* 2. The background (Track) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Makes it blend into your sidebar bg */
  background-color: transp;
}

/* 3. The draggable handle (Thumb) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300: subtle but visible */
  border-radius: 20px; /* Round pill shape */
  border: 2px solid transparent; /* Acts as padding around the thumb */
}

/* 4. Hover effect for the handle */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400: slightly darker on hover */
}

/* 5. Hide the arrows (Buttons) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}